.containerQuemSomos{
    background-color: aquamarine;
    height: 85vh;

    background-image: url("../../assets/backgroundQuemSomos.png");
    background-repeat: no-repeat;
    background-size: 100% 90vh;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.boxTextosQuemSomos{
    //border: solid red;
    width: 40%;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

h2{
    color: #205691;
    font-size: 3rem;
    width: 60%;
 }

 p{
    //border: solid blue;
    font-size: 1.5rem;
    width: 80%;
 }


}