.containerTelaPerfil{
    height: 85vh;

    display: flex;
    justify-content: center;
    align-items: center;    
    
article{
    display: flex;
    border: solid #efeeea;
    border-radius: 16px;
    justify-content: space-around;
    height: 50vh;
    align-items: center;

img{
    border-radius: 100%;
    border: solid #00AAFF;}

}

//Div

.cardInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 30vh;
    
    h3{
        color: #278733;
    }
}


.paragrafoSobreMim{
    //border: solid red;
    text-align: center;
}

.address{
    //border: solid blue;
    display: flex;
    justify-content: space-evenly;
    width: 90%;    

}

.listaInteresses {
  //  border: solid rgb(11, 74, 162);
  display: flex;
  width: 80%;
  justify-content: space-evenly;

  
  li{
    background-color: #d4e7d6;
    padding: 0.5rem;
    color: #278733;
    border-radius: 10px;
  }
}

}