footer{
    background-color: #205691;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    color: #ffffff;



div{
    //border: solid pink;
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 15%;

h2{
    font-size: 2rem;
    font-weight: 400;
    }

}



p{
    //border: solid white;
    width: 30%;
    font-size: 400;
    text-align: center;
                

}


nav{
    //border: solid red;
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 15%;
}

}



//Responsivo do footer

//--------------Responsivo------------
@media (min-width: 201px) and (max-width: 500px) {


footer{
    flex-direction: column-reverse;
    height: 35vh;
    

div{
    width: 60%;

h2{
    font-size: 2rem;
    font-weight: 400;
}

}


p{
   width: 90%; 
}


nav{
    width: 80%;        
}

}

}

